services:
  web:
    build:
      context: .
      args:
        NEXT_PUBLIC_SAFE_KEY: ${NEXT_PUBLIC_SAFE_KEY}
    env_file:
      - .env.prod
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    volumes:
      - uploads_data:/data/uploads/images
    depends_on:
      db:
        condition: service_healthy
      ai-img-validator:
        condition: service_started
      system-profiler:
        condition: service_started

  system-profiler:
    build: ./system-profiler

  ai-img-validator:
    build: ./ai-img-validator

  db:
    image: postgres:17
    env_file:
      - .env.prod
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:
  uploads_data:

